<section>
  <Component.hero content="Survey">
    <%= if @demographic do %>
      <DemographicLive.Show.detail demographic={@demographic} />
    <% else %>
      <h2>Demographic form coming soon!</h2>
    <% end %>
  </Component.hero>
</section>
